{#
  Payline module for PrestaShop
  @author    Monext <support@payline.com>
  @copyright Monext - http://www.payline.com

  Recurring payment configuration tab.
#}

{% form_theme form
    '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig'
%}
{% extends '@Modules/payline/views/templates/admin/_layout.html.twig' %}

{% block tab_content %}
    {{ form_start(form) }}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">settings</i> {{ 'Recurring payment'|trans({}, 'Modules.Payline.Admin') }}
        </h3>
        <div class="card-body">
            <div class="form-wrapper">
                {# Section: Monext recurring-web-payment configuration #}
                <div class="form-section">
                    <h3 class="form-section-title">
                        {{ 'Recurring payment'|trans({}, 'Modules.Payline.Admin') }}
                    </h3>
                    <p class="form-section-description">
                        {{ 'Contracts activated through contracts configuration menu are displayed in the checkout. All payment information is filled on our secure user interface.'|trans({}, 'Modules.Payline.Admin') }}
                    </p>
                </div>

                {{ form_widget(form) }}
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary" type="submit">
                    {{ 'Save'|trans({}, 'Admin.Actions') }}
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
